name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    permissions:
      checks: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # Étape 1 : Build et Exécution des Tests
      - name: Build and Run Tests with Maven
        # La commande 'package' exécute automatiquement les phases compile, test, et package.
        run: mvn -B package --file pom.xml